<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
   <div style = "margin: 0 auto; width: 50px"><a href="https://upatras-hci-2022.github.io/webring/" target="_blank"><img src ="https://avatars.githubusercontent.com/u/115543135" style="overflow:visible;" width="50"></a></div>
</body>
</html>
